[user]
        name = Brian Smith
        email = brian.smith.keith@gmail.com
[core]
        editor = vim
        whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
        excludesfile = ~/.gitignore
[sendemail]
        smtpencryption = tls
        smtpserver = smtp.gmail.com
        smtpuser = pavan.sss1991@gmail.com
        smtppass = password
        smtpserverport = 587
[web]
        browser = google-chrome
[instaweb]
        httpd = apache2 -f
[push]
        default = matching
[color]
        ui = auto
[color "branch"]
        current = yellow bold
        local = green bold
        remote = cyan bold
[color "diff"]
        meta = yellow bold
        frag = magenta bold
        old = red bold
        new = green bold
        whitespace = red reverse
[color "status"]
        added = green
        changed = yellow
        untracked = cyan

[difftool "diffmerge"]
        cmd = "diffmerge.sh \"$LOCAL\" \"$REMOTE\""
        prompt = false
        trustExitCode = false
[difftool]
        prompt = false
[merge]
        tool = diffmerge
[mergetool "diffmerge"]
        cmd = "diffmerge" --merge --result=$MERGED $LOCAL $BASE $REMOTE
        trustExitCode = false
[alias]
        lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
        co = checkout

[hub]
    protocol = https

[credential]
    helper = /opt/boxen/bin/boxen-git-credential

[core]
    excludesfile = /opt/boxen/config/git/gitignore

